
body
  font-size: 26px
  font-family: "Press Start 2P", cursive
  background-color: $burlywood
  line-height: 1.6

.introduction
  display: flex
  justify-content: center
  margin: 50px
  text-align: center
  padding: 50px

.nav
  display: flex
  justify-content: center
  padding-bottom:80px


  a
    padding:20px
    color: $black


.devicon
  font-size:50px
  display: flex
  justify-content: space-evenly

#technologies, #projects, #contact
  display: flex
  justify-content: center
  padding: 30px

.content
  font-family: Verdana, sans-serif
  font-size: 20px
